@use './common/mixin.scss' as *;
@use './common/var.scss' as *;
@use './common/function.scss' as *;
@use './common/config.scss' as *;
@use './var.scss' as *;

// 设置组件CSS变量
@include b('checkbox') {
  @include set-component-css-var('checkbox', $checkbox);
}

@include b('checkbox') {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: get-var-name-css('font-size', 'default');
  font-weight: 500;
  color: get-var-name-css('checkbox', 'default-text-color');
  cursor: pointer;

  & + & {
    margin-left: 20px;
  }

  &:hover {
    .#{$namespace}-checkbox__inner {
      border-color: get-var-name-css('checkbox', 'hover-border-color');
    }
  }

  // 输入框容器
  @include e('input') {
    display: inline-flex;
    transition: 0.2s ease;
  }

  // 原生input checkbox
  @include e('original') {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  // 输入框内部容器
  @include e('inner') {
    width: get-var-name-css('choice-size', 'default');
    height: get-var-name-css('choice-size', 'default');
    border: get-var-name-css('checkbox', 'default-border-color') 1px solid;
    border-radius: get-var-name-css('border-radius', 'small');
    box-sizing: content-box;
    position: relative;
    transition: 0.2s ease;
  }

  // checked 选中状态
  @include when('checked') {
    color: get-var-name-css('checkbox', 'checked-text-color');

    .#{$namespace}-checkbox__inner {
      border-color: get-var-name-css('checkbox', 'checked-border-color');
      background-color: get-var-name-css('checkbox', 'checked-bg-color');

      // 使用伪元素绘制√符号
      &::after {
        content: '';
        width: calc(#{get-var-name-css('choice-size', 'default')} / 4);
        height: calc(#{get-var-name-css('choice-size', 'default')} / 2);
        border: get-var-name-css('color', 'white') solid;
        border-width: 0 2px 2px 0;
        border-radius: 0 0 1px 0;
        box-sizing: content-box;
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg);
        top: 45%;
        left: 50%;
      }
    }
  }

  // disabled 禁用状态
  @include when('disabled') {
    color: get-var-name-css('checkbox', 'disabled-text-color');
    cursor: not-allowed;

    // 输入框的禁用状态
    &,
    &:hover {
      .#{$namespace}-checkbox__inner {
        border-color: get-var-name-css('checkbox', 'disabled-border-color');
        background-color: get-var-name-css('checkbox', 'disabled-bg-color');
      }
    }

    // 选中状态下的禁用状态
    &.is-checked {
      .#{$namespace}-checkbox__inner {
        &::after {
          border-color: get-var-name-css('checkbox', 'disabled-after-color');
        }
      }
    }

    // 中间状态下的禁用状态
    &.is-indeterminate {
      .#{$namespace}-checkbox__inner {
        &::after {
          background-color: get-var-name-css('checkbox', 'disabled-after-color');
        }
      }
    }
  }

  // indeterminate 中间状态
  @include when('indeterminate') {
    .#{$namespace}-checkbox__inner {
      // 使用伪元素绘制中间状态符号
      &::after {
        content: '';
        width: calc(#{get-var-name-css('choice-size', 'default')} / 2);
        height: calc(#{get-var-name-css('choice-size', 'default')} / 2);
        background-color: get-var-name-css('checkbox', 'checked-bg-color');
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }

  // size 尺寸
  @each $size in ('small', 'large') {
    @include m($size) {
      font-size: get-var-name-css('font-size', $size);

      // 输入框尺寸
      .#{$namespace}-checkbox__inner {
        width: get-var-name-css('choice-size', $size);
        height: get-var-name-css('choice-size', $size);
      }

      // 选中伪元素尺寸
      &.is-checked {
        .#{$namespace}-checkbox__inner {
          &::after {
            width: calc(#{get-var-name-css('choice-size', $size)} / 4);
            height: calc(#{get-var-name-css('choice-size', $size)} / 2);
          }
        }
      }

      // 中间状态伪元素尺寸
      &.is-indeterminate {
        .#{$namespace}-checkbox__inner {
          &::after {
            width: calc(#{get-var-name-css('choice-size', $size)} / 2);
            height: calc(#{get-var-name-css('choice-size', $size)} / 2);
          }
        }
      }
    }
  }
}