@use './common/mixin.scss' as *;
@use './common/var.scss' as *;
@use './common/function.scss' as *;
@use './common/config.scss' as *;

@include b('form-item') {
  display: flex;
  gap: 12px;

  // 标签包裹样式
  @include e('label-wrap') {
    height: get-var-name-css('component-size', 'default');
    line-height: get-var-name-css('component-size', 'default');
    font-size: get-var-name-css('font-size', 'default');
  }

  // 标签样式
  @include e('label') {
    color: get-var-name-css('text-color', 'primary');
  }

  // 内容包裹样式
  @include e('content') {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }

  // 校验错误样式
  @include when('error') {
    .#{$namespace}-input {
      border-color: get-var-name-css('color', 'error');
      box-shadow: none;
      transition: get-var-name-css('transition', 'fast');
    }
  }

  // 校验错误提示消息样式
  @include e('error') {
    padding-top: 2px;
    line-height: 1;
    font-size: 12px;
    color: get-var-name-css('color', 'error');
    position: absolute;
  }

  // 标签位置样式
  @each $position in (left, right) {
    @include m(label-#{$position}) {
      .#{$namespace}-form-item__label-wrap {
        text-align: $position;
      }
    }
  }
  @include m('label-top') {
    display: block;
  }

  // 必填项样式
  @include when('required'){
    .#{$namespace}-form-item__label::before{
      content: '*';
      color: get-var-name-css('color', 'error');
      margin-right: 4px;
    }
  }

  // 尺寸样式
  @each $size in (small, large){
    @include m($size){
      .#{$namespace}-form-item__label-wrap{
        height: get-var-name-css('component-size', $size);
        line-height: get-var-name-css('component-size', $size);
        font-size: get-var-name-css('font-size', $size);
      }
    }
  }
}

// 校验错误信息动画
.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-to {
  transform: translateY(-5px);
  opacity: 0;
}

.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  transition: get-var-name-css('transition', 'base');
}

.#{$namespace}-zoom-in-top-enter-to,
.#{$namespace}-zoom-in-top-leave-from {
  transform: translateY(0);
  opacity: 1;
}