@use './common/mixin.scss' as *;
@use './common/var.scss' as *;
@use './common/function.scss' as *;
@use './common/config.scss' as *;

@include b('form') {
  display: flex;
  flex-direction: column;
  gap: 18px;

  // 行内表单样式
  @include when('inline') {
    flex-direction: row;
    flex-wrap: wrap;
  }
}