@use './common/mixin.scss' as *;
@use './common/var.scss' as *;
@use './common/function.scss' as *;
@use './common/config.scss' as *;
@use './common/animations.scss' as *;
@use './var.scss' as *;

// 设置组件CSS变量
@include b('radio') {
  @include set-component-css-var('radio', $radio);
}

@include b('radio') {
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: get-var-name-css('radio', 'default-text-color');
  font-size: get-var-name-css('font-size', 'default');
  transition: 0.2s ease;
  cursor: pointer;

  & + & {
    margin-left: 16px;
  }

  // 交互样式
  @each $state in ('hover', 'active') {
    &:#{$state} {
      .#{$namespace}-radio__input {
        border-color: get-var-name-css('radio', '#{$state}-border-color');
      }
    }
  }

  // 单选输入框样式
  @include e('input') {
    width: get-var-name-css('radio-size', 'default');
    height: get-var-name-css('radio-size', 'default');
    border: get-var-name-css('radio', 'default-border-color') 1px solid;
    border-radius: get-var-name-css('border-radius', 'circle');
    box-sizing: content-box;
    transition: 0.2s ease;
    position: relative;
  }

  // 原生input radio
  @include e('original') {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  // checked 选中状态
  @include when('checked') {
    color: get-var-name-css('radio', 'checked-text-color');

    .#{$namespace}-radio__input {
      border-color: get-var-name-css('radio', 'checked-border-color');
      background-color: get-var-name-css('radio', 'checked-bg-color');
      position: relative;

      // 点击阴影效果
      animation: radioClickShadow 0.4s ease-out;

      .#{$namespace}-radio__inner {
        &::after {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // disabled 禁用状态
  @include when('disabled') {
    color: get-var-name-css('radio', 'disabled-text-color');
    cursor: not-allowed;

    // 输入框禁用样式
    &,
    &:hover,
    &:active {
      .#{$namespace}-radio__input {
        background-color: get-var-name-css('radio', 'disabled-bg-color');
        border-color: get-var-name-css('radio', 'disabled-border-color');
      }
    }

    // 选中禁用样式
    &.is-checked {
      .#{$namespace}-radio__inner {
        &::after {
          background-color: get-var-name-css(
            'radio',
            'disabled-after-bg-color'
          );
        }
      }
    }
  }

  // size 尺寸
  @each $size in ('small', 'large'){
    @include m($size){
      font-size: get-var-name-css('font-size', $size);

      .#{$namespace}-radio__input{
          width: get-var-name-css('radio-size', $size);
          height: get-var-name-css('radio-size', $size);
      }
    }
  }
}