@use 'sass:map';
@use 'sass:color';
@use './function.scss' as *;

// types
$types: primary, success, warning, danger, error, info;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #1f56fb
    ),
    'success': (
      'base': #04b56f
    ),
    'warning': (
      'base': #faad14
    ),
    'danger': (
      'base': #ff4d4f
    ),
    'error': (
      'base': #ff4d4f
    ),
    'info': (
      'base': #909399
    )
  ),
  $colors
);

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;

// 设置主题渐变颜色
@mixin set-mix-color($type, $number, $mode, $mix-color) {
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}': color.mix(
            $mix-color,
            map.get($colors, $type, 'base'),
            $number * 10%
          )
      )
    ),
    $colors
  ) !global;
}

@each $type in $types {
  @for $number from 1 through 9 {
    // 设置主题浅渐变色
    @include set-mix-color($type, $number, 'light', $color-white);
  }

  // 设置主题深渐变色
  @include set-mix-color($type, 2, 'dark', $color-black);
}

// 文字颜色
$text-color: () !default;
$text-color: map.deep-merge(
  (
    'primary': #4d5059,
    'light-1': #7c808c,
    'disabled': #abb1bf,
    'placeholder': #c9cdd9
  ),
  $text-color
);

// 文字尺寸
$font-size: () !default;
$font-size: map.deep-merge(
  (
    'small': 12px,
    'default': 14px,
    'large': 16px
  ),
  $font-size
);

// 组件尺寸
$component-size: () !default;
$component-size: map.deep-merge(
  (
    'small': 24px,
    'default': 32px,
    'large': 40px
  ),
  $component-size
);

// 边框
$border-color: () !default;
$border-color: map.deep-merge(
  (
    'primary': #e2e6f1,
    'disabled': #ebeef5
  ),
  $border-color
);

// 边框圆角
$border-radius: () !default;
$border-radius: map.merge(
  (
    'small': 4px,
    'default': 6px,
    'large': 8px,
    'round': 20px,
    'circle': 100%
  ),
  $border-radius
);

// 背景色
$background-color: () !default;
$background-color: map.merge(
  (
    'primary': #f5f6fa,
    'light': #fafbff,
    'scrollbar': #d5d9e4,
    'scrollbar-hover': #e1e3eb
  ),
  $background-color
);

// 填充色
$fill-color: () !default;
$fill-color: map.merge(
  (
    'light': #f5f5f5,
    'base': #d9d9d9,
    'dark': #b8b8b8
  ),
  $fill-color
);

// button样式变量
$button: () !default;
$button: map.merge(
  (
    // 'font-weight': get-var-name('font-weight-primary'),
    'border-color': get-var-name-css('border-color', 'primary'),
    'bg-color': $color-white,
    'text-color': get-var-name-css('text-color', 'primary'),
    'disabled-text-color': get-var-name-css('text-color', 'disabled'),
    'disabled-bg-color': #f5f6fa,
    'disabled-border-color': #ebeef5,
    // 'divide-border-color': rgba($color-white, 0.5),
    'hover-text-color': #3069ff,
    'hover-bg-color': #eaf0ff,
    'hover-border-color': #c1d2ff,
    'active-text-color': #064bfb,
    'active-border-color': #a3c1ff,
    'active-bg-color': #a3c1ff,
    // 'outline-color': get-var-name('color-primary', 'light-5'),
    // 'hover-link-text-color': get-var-name('text-color', 'secondary'),
     // 'active-color': get-var-name('text-color', 'primary')
  ),
  $button
);
// 不同尺寸内边距
$button-padding: () !default;
$button-padding: map.merge(
  (
    'small': 10px,
    'default': 16px,
    'large': 16px
  ),
  $button-padding
);

// input样式变量
$input: () !default;
$input: map.merge(
  (
    'default-border-color': get-var-name-css('border-color', 'primary'),
    'hover-border-color': get-var-name-css('color', 'primary', 'light', '6'),
    'focus-border-color': get-var-name-css('color', 'primary', 'light', '6'),
    'focus-box-shadow-color': get-var-name-css('color', 'primary', 'light', '6'),
    'disabled-border-color': get-var-name-css('border-color', 'disabled'),
    'disabled-bg-color': get-var-name-css('background-color', 'primary'),
    'default-icon-color': #00000073,
    'hover-icon-color': #000000a0
  ),
  $input
);
// 不同尺寸内边距
$input-padding: () !default;
$input-padding: map.merge(
  (
    'small': 6px,
    'default': 8px,
    'large': 8px
  ),
  $input-padding
);
// textarea 最小高度
$textarea-min-height: () !default;
$textarea-min-height: map.merge(
  (
    'small': 60px,
    'default': 80px,
    'large': 100px
  ),
  $textarea-min-height
);
// textarea 垂直内边距
$textarea-padding-vertical: () !default;
$textarea-padding-vertical: map.merge(
  (
    'small': 6px,
    'default': 8px,
    'large': 10px
  ),
  $textarea-padding-vertical
);
// textarea 水平内边距
$textarea-padding-horizontal: () !default;
$textarea-padding-horizontal: map.merge(
  (
    'small': 6px,
    'default': 8px,
    'large': 8px
  ),
  $textarea-padding-horizontal
);

// radio样式变量
$radio: () !default;
$radio: map.merge(
  (
    'default-border-color': get-var-name-css('border-color', 'primary'),
    'hover-border-color': get-var-name-css('color', 'primary', 'light', '6'),
    'default-text-color': get-var-name-css('text-color', 'primary'),
    'checked-text-color': get-var-name-css('color', 'primary'),
    'checked-border-color': get-var-name-css('color', 'primary'),
    'checked-bg-color': get-var-name-css('color', 'primary'),
    'disabled-text-color': get-var-name-css('text-color', 'disabled'),
    'disabled-border-color': get-var-name-css('border-color', 'disabled'),
    'disabled-bg-color': get-var-name-css('fill-color', 'light'),
    'disabled-after-bg-color': get-var-name-css('fill-color', 'dark')
  ),
  $radio
);
// radio尺寸变量
$radio-size: () !default;
$radio-size: map.deep-merge(
  (
    'small': 10px,
    'default': 12px,
    'large': 14px
  ),
  $radio-size
);
// radio-button样式变量
$radio-button: () !default;
$radio-button: map.deep-merge(
  (
    'default-border-color': get-var-name-css('fill-color', 'base'),
    'default-text-color': get-var-name-css('text-color', 'primary'),
    'hover-text-color': get-var-name-css('color', 'primary'),
    'checked-text-color': get-var-name-css('color', 'white'),
    'checked-border-color': get-var-name-css('color', 'primary', 'light', '1'),
    'checked-bg-color': get-var-name-css('color', 'primary', 'light', '1'),
    'disabled-text-color': get-var-name-css('text-color', 'disabled'),
    'disabled-border-color': get-var-name-css('fill-color', 'base'),
    'disabled-bg-color': get-var-name-css('fill-color', 'light'),
    'disabled-checked-bg-color': get-var-name-css('fill-color', 'base')
  ),
  $radio-button
);
// radio-button不同尺寸内边距
$radio-button-padding-horizontal: () !default;
$radio-button-padding-horizontal: map.merge(
  (
    'small': 11px,
    'default': 19px,
    'large': 23px
  ),
    $radio-button-padding-horizontal
);
// radio动画颜色变量
$radio-animation: () !default;
$radio-animation: map.deep-merge(
  (
    // 点击动画阴影颜色
    'click-shadow-color': rgba(33, 150, 243, 0.4),
    // 点击动画扩散时的透明色
    'click-shadow-spread-color': rgba(33, 150, 243, 0),
    // 点击动画基础阴影颜色
    'click-box-shadow-color': rgba(0, 0, 0, 0.1),
    // 点击动画激活时阴影颜色
    'click-box-shadow-active-color': rgba(0, 0, 0, 0.3)
  ),
  $radio-animation
);

// checkbox样式变量
$checkbox: () !default;
$checkbox: map.deep-merge(
  (
    'default-border-color': get-var-name-css('fill-color', 'base'),
    'hover-border-color': get-var-name-css('color', 'primary', 'light', '2'),
    'default-text-color': get-var-name-css('text-color', 'primary'),
    'checked-text-color': get-var-name-css('color', 'primary'),
    'disabled-text-color': get-var-name-css('text-color', 'disabled'),
    'disabled-border-color': get-var-name-css('fill-color', 'base'),
    'disabled-bg-color': get-var-name-css('fill-color', 'light'),
    'disabled-after-color': get-var-name-css('fill-color', 'dark')
  ),
  $checkbox
);

// 全局变量集合
$global: (
  'text-color': $text-color,
  'font-size': $font-size,
  'component-size': $component-size,
  'border-color': $border-color,
  'border-radius': $border-radius,
  'background-color': $background-color,
  'fill-color': $fill-color,
  'button-padding': $button-padding,
  'input-padding': $input-padding,
  'textarea-min-height': $textarea-min-height,
  'textarea-padding-vertical': $textarea-padding-vertical,
  'textarea-padding-horizontal': $textarea-padding-horizontal,
  'radio-size': $radio-size,
  'radio-button-padding-horizontal': $radio-button-padding-horizontal,
  'radio-animation': $radio-animation
);